.caret {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 0.625rem solid transparent;
    border-right:0.625rem solid transparent;
    border-top: 0.625rem solid #d1ce0a; /* Puedes ajustar el color según tus necesidades */
    transition: transform 0.5s;
    cursor: pointer;
  }
  
 .caret.expanded {
    transform: rotate(180deg);
 }
  