.container {
  width: 90%;
  height: 2.3em;
background-color: rgb(0, 130, 170);
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  margin:4px auto 0;
 
}
.containerButton{
 
  min-width: 2.5em;
  height: 100%;
}
.searchBarInput {
  caret-color: #f2f2f2;
  height: 100%;
  background-color: transparent;
  border: none;
 padding-left: .3em;
  font-size: 1rem;
  outline: none;
  
  color: aliceblue;
  font-weight: 600;
  
}

.searchBarInput::placeholder{
    color: #f9f9f991;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.searchBarButton {

/* background-color: chartreuse; */
 
height: 100%;
background-color: transparent;
  border: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  
}
.searchBarImg {
  width: 100%;
  height: 100%;
 
 
}
