.container{
    padding: 5em 1rem 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.containerCard{
    padding: 1rem;
    width: 25em;
    height: auto;
    background-color:#2b5069;
    border-radius: 0 0 1rem 1rem;
}
.containerCard > img{
    width: 100%;
    height: 12em;
    border-radius: 0  0 1rem 1rem ;
}
.containerDatos{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.containerDatos > p{
color: cornsilk;
font-size: clamp(1rem,1.7vw,2rem);
font-weight: 700;
}
.containerLoader{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}