.containerPagination{
    display: flex;
    gap: .3em;
    width: calc(100% - 3em);
    height: 4em;
   position: fixed;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    border-radius:   0 0 .8rem .8rem ;
    z-index: 90;

}
.buttonActive,.button{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: #2b506973;
    border: none;
    font-size: .9em;
font-weight: 600;
color:  #2b5069;;
}
.button:active{
    transform: scale(90%);
}
.span{
    color: #2b5069;
    font-size: 2rem;
    font-weight:900;
}
 .buttonActive{
    background-color: #2b5069;
    color: #f9f9f9;
    font-weight: 900;
}