
.containerLoader{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 100;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
    background-color: rgba(0, 0, 0, 0.151);
}
.custom_loader {
    width: 7.3rem;
    height: 7.3rem;
    border:1rem solid #ffffff;
    border-radius: 50%;
    position: relative;
    transform:rotate(45deg);
  }
  .custom_loader::before {
    content: "";
    position: absolute;
    inset:-1.2rem;
    border-radius: 50%;
    border:1.2rem solid #457DF4;
    animation: p8 2s infinite linear;
  }
  
  @keyframes p8 {
      0%   {clip-path:polygon(50% 50%,0 0,0    0,0    0   ,0    0   ,0    0   )}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0   ,100% 0   ,100% 0   )}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    0   )}
  }